aws_region  = "us-east-1"
project     = "shopflow"
environment = "dev"

vpc_cidr             = "10.0.0.0/16"
availability_zones   = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.20.0/24"]

kubernetes_version  = "1.29"
node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 4

db_instance_class = "db.t3.micro"
allocated_storage = 20
db_name           = "shopflow"
db_username       = "shopflow"
# db_password — set via: export TF_VAR_db_password="yourpassword"
